<!-- Used on the blog page and the the filtered ('archive') page -->
<ul class="blogposts">
    {% for post in include.posts %}
      <li class="blogpost-listing">
        <!-- Post title -->
        <h3>
          <a href="{% include relative-src.html src=post.url %}">{{ post.title }}</a>
        </h3>
  
        <!-- Category chips and the date -->
        {% include blogpost-tagline.html post=post %}
  
        <!-- Post excerpt (the first paragraph, as a <p>) -->
        {{ post.excerpt }}
  
        <!-- The button that links to the post -->
        <div class="button">
          <a href="{% include relative-src.html src=post.url %}">Read More</a>
        </div>
      </li>
    {% endfor %}
  </ul>
  