.blogpost-tagline {
  font-size: 1.2em;
  line-height: 1.4em;
  color: katdl-color('background', 'contrastText');
  border-bottom: 1px solid katdl-color('background', 'contrastText');
  margin-top: 15px;

  .post-date {
    float: right;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.chip {
  display: inline-block;
  text-align: center;

  a {
    position: relative;
    top: -5px;
    text-decoration: none;
    background: katdl-color('button');
    color: katdl-color('button', 'contrastText');
    padding: 3px 8px;
    font-size: .8em;
    border-radius: 4px;
    transition: .2s ease-in-out;

    &:hover {
      text-decoration: none;
      background: katdl-color('button', 'hover');
      color: katdl-color('button', 'contrastTextHover');
    }
  }
}

.chip.cross a {
  padding-right: 8px;

  &:after {
    content: "x";
    font-size: .5em;
    position: relative;
    bottom: 4px;
    right: -3px;
  }
}
