// https://scotch.io/tutorials/aesthetic-sass-2-colors

$katdl-color-key: 'base' !default;

// Light theme:
$katdl-colors: (
  'primary': (
    'base': #161616,
    'light': #505050,
    'dark': #000000,
    // 'contrastHeader': #d1ac53,
    // 'contrastText': #ffffff,
    'contrastHeader': #ffffff,
    'contrastText': #d5d5d5,
  ),
  'button': (
    'base': #505050,
    'hover': #161616,
    'contrastText': #f1f1f1,
    'contrastTextHover': #f1f1f1,
  ),
  'accent': (
    'base': #d1ac53,
  ),
  'secondary': (
    'base': #c53214,
    'light': #eb8a75,
    'dark': #992e17,
    'contrastText': #f1f1f1,
  ),
  'background': (
    'base': #f1f1f1,
    'light': #ffffff,
    'dark': #000,
    'contrastHeader': #161616,
    'contrastText': #161616,
  )
);

// Dark theme:
$katdl-colors-dark: (
  'primary': (
    'base': #d8d8d8,
    'light': #f1f1f1,
    'dark': #505050,
    'contrastText': #161616,
    'contrastHeader': #161616,
  ),
  'button': (
    'base': #505050,
    'hover': #161616,
    'contrastText': #f1f1f1,
    'contrastTextHover': #f1f1f1,
  ),
  'secondary': (
    'base': #c53214,
    'light': #eb8a75,
    'dark': #992e17,
    'contrastText': #f1f1f1,
  ),
  'background': (
    'base': #161616,
    'light': #505050,
    'dark': #000,
    'contrastHeader': #d1ac53,
    'contrastText': #d5d5d5,
  )
);

$katdl-opacity: (
  'light': 0.8, // opacity used with lighter colors
  'dark': 0.4,  // opacity used with darker colors
  // ... etc.
);

@function katdl-color(
  $name: 'primary',
  $variant: $katdl-color-key,
  $opacity: 1
) {
  $color: null;

  // Get the color spectrum
  $color-spectrum: map-get($katdl-colors, $name);

  // Get the color variant
  @if $color-spectrum {
    $color: map-get($color-spectrum, $variant);
  }

  // Get the alpha setting
  $alpha: if(type-of($opacity) == 'number', $opacity, map-get($katdl-opacity, $opacity));

  // Set the alpha of the color
  @if $alpha {
    $color: rgba($color, $alpha);
  }

  @return $color;
}

// Example usage:
// .katdl-button {
//   background-color: katdl-color('primary');

//   &:hover {
//     background-color: katdl-color('primary', 'light');
//   }

//   &.secondary {
//     background-color: katdl-color('secondary');

//     &:hover {
//       background-color: katdl-color('secondary', 'dark');
//     }
//   }

//   &.transparent {
//     background-color: katdl-color('primary', $opacity: 'light');
//   }
// }