.button a, input[type=submit] {
  text-decoration: none;
  background: katdl-color('secondary');
  color: katdl-color('secondary', 'contrastText');
  padding: 10px 30px;
  border-radius: 3px;
  border: none;
  transition: .2s ease-in-out;

  &:hover {
    background: katdl-color('secondary', $opacity: 'light');
    cursor: pointer;
  }
}

.button.alt a {
  text-decoration: none;
  display: inline-block;
  font-size: 1.3rem;
  background: katdl-color('secondary', $opacity: 'light');
  color: katdl-color('secondary', 'contrastText');
  border: 1px solid katdl-color('secondary');
  border-radius: 3px;
  padding: 16px 50px;

  &:hover {
    background: katdl-color('secondary');
  }
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }

input[type=submit] {
  margin: 20px 0 0 0;
}

label, input, textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 150px;
}

label {
  margin: 20px 0 5px 0;
}

input, textarea {
  padding: 10px;
  font-size: 1em;
}
