footer {
  padding: 50px 0 50px 0;
  font-size: 1.1em;
  position: relative;
  background: katdl-color('primary');
  color: katdl-color('primary', 'contrastText');

  a {
    text-decoration: none;
    // Just a placeholder border:
    border-bottom: 1px solid rgba(255,255,255,0);
    color: katdl-color('primary', 'contrastText');

    &:hover {
      border-bottom: 1px solid katdl-color('primary', 'contrastText', 0.2);
      color: katdl-color('primary', 'contrastText');
      font-weight: 400;
    }
  }

  .copyright {
    font-size: .8em;
    margin: 0 auto;

    @media #{$tablet} {
      text-align: center;
    }
  }

  .footer-columns {
    @extend %flexbox;
    @include flex-flow(wrap);
    margin: -10px -10px 10px -10px;
  }
}

.footer-links {
  width: 100%;
  margin: 10px;
  padding: 0;

  @media #{$tablet} {
    -webkit-flex: 1 0 180px;
    flex: 1 0 180px;
  }

  li {
    list-style: none;
    margin: 8px auto;

    @media #{$tablet} {
      max-width: 150px;
    }

    a {
      color: katdl-color('primary', 'contrastText', 0.6);

      &:hover {
        text-decoration: none;
        color: katdl-color('primary', 'contrastText');
      }

      svg {
        fill: katdl-color('primary', 'contrastText', 0.4);
        margin-right: 10px;
        transition: fill 0.2s ease;
        vertical-align: middle;
        position: relative;
        top: -2px;
        width: 22px;
        height: 22px;
      }

      &:hover svg {
        fill: katdl-color('primary', 'contrastText');
      }

      &.twitter-icon:hover svg {
        fill: #55acee;
      }

      &.linkedin-icon:hover svg {
        fill: #0077b5;
      }

      &.youtube-icon:hover svg {
        fill: #cd201f;
      }
    }
  }
}
