.katdl-contact {
  section {
    padding: 20px 0;
  }

  .contact-form {
    $input-height: 45px;

    // background: katdl-color('primary', 'light');
    background: #ffffff;
    max-width: 600px;
    padding: 30px;
    margin: 20px auto;

    input,
    textarea {
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      display: block;
      width: 100%;
      padding: 7px;
      border: none;
      border-bottom: 1px solid katdl-color('primary', 'dark');
      background: transparent;
      margin-bottom: 10px;
      font-size: 1rem;
    }

    input {
      height: $input-height;
    }

    textarea {
      height: 2 * $input-height;
    }

    .g-recaptcha {
      margin-bottom: 10px;
    }

    button {
      background: katdl-color('secondary');
      color: katdl-color('secondary', 'contrastText');
      padding: 10px 30px;
      border-radius: 3px;
      border: none;
      transition: .1s ease-in-out;

      &[disabled] {
        background: #bbb;

        &:hover,
        &:focus {
          background: #bbb;
        }
      }

      &:hover,
      &:focus {
        background: katdl-color('secondary', $opacity: 'light');
        cursor: pointer;
      }
    }
  }

  address {
    font-style: normal;

    a {
      text-decoration: underline;
    }

    p {
      padding-left: 20px;
      margin-top: 0;
    }
  }

  h3 {
    // color: katdl-color('background', 'contrastText');
    font-weight: 300;
    font-size: 1.7rem;
  }
}
