.katdl-products,
.katdl-services {
  .text {
    h2 {
      font-weight: 400;
    }

    p, ul {
      font-size: 1.3rem;
      font-weight: 300;
    }

    a {
      text-decoration: underline;

      &:hover {
        color: katdl-color('accent');
      }
    }

    .cta.button {
      text-align: center;
      margin-top: 30px;

      a {
        text-decoration: none;

        &:hover {
          color:  katdl-color('button', 'contrastTextHover');
        }
      }
    }
  }
}