.blog-post {
  margin-top: 50px;

  .blog-navigation {
    display: block;
    font-size: 1em;
    color: katdl-color('background', 'contrastHeader');
    width: auto;
    overflow: hidden;

    a {
      display: block;
      width: 50%;
      float: left;
      margin: 1em 0;

      &:hover {
        text-decoration: underline;
      }
    }

    .next {
      text-align: right;
    }
  }

  .post-content {
    $margin-base: 20px;

    color: katdl-color('background', 'contrastText');

    a {
      text-decoration: underline;

      &:hover {
        color: katdl-color('background', 'contrastHeader');
      }
    }

    h1, h2, h3, h4, h5, h6 {
      color: katdl-color('background', 'contrastText');
      font-weight: 400;
      margin-top: 1.5 * $margin-base;
      margin-bottom: $margin-base;
    }

    h1 {
      font-size: 2.3em;
    }

    h2 {
      font-size: 2em;
    }

    h3, h4, h5, h6 {
      font-size: 1.7em;
    }

    p {
      font-size: 1.3em;
      margin-bottom: $margin-base;
    }

    .button {
      margin: 30px 0 0 0;
    }

    pre {
      font-size: 18px;
      background-color: katdl-color('background', 'dark');
      color: katdl-color('accent', 'base');
      padding: 5px;
      overflow-x: auto;
    }

    ul, ol {
      font-size: 1.38em;
      font-weight: 300;
    }

    ul ul, ul ol, ol ul, ol ol {
      font-size: 1em;
    }

    ul > li, ol > li {
      padding: 0.2em 0;
    }

    img {
      width: initial;
    }

    .img-center {
      display: block;
      margin: auto;
    }
  }

  .author {
    padding: 30px 0 0 0;
    border: 1px solid #eee;
    margin: 30px 0;
    font-size: .8em;

    .square-image {
      width: 125px;
      height: 125px;
      margin-top: 0;
    }
    .blurb {
      text-align: center;
    }
  }
}
