{{ define "main" }}
  <article class="post haiku-single">
    <div class="post-content haiku-content">
      {{ .Content }}
    </div>
    <div class="post-meta">
      <time class="post-date">
        {{- partial "post-date" . -}}
      </time>
      {{ if .Params.tags }}
        <span class="post-tags">
          {{ range .Params.tags }}
          #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
            {{- . -}}
          </a>&nbsp;
          {{ end }}
        </span>
      {{ end }}
    </div>

    {{ partial "posts_pagination.html" . }}
  </article>
{{ end }}
